icons/.DS_Store
resources.py

venv
venv/
checkpoint
log

*.cache*
*.cache/
.idea*
labelImg.egg-info*

sync.ffs_db
*.pkl
*.deb
*.pyc
*.model
.*.swp

dnc/
data/mnist/
build/
log/
results/
checkpoint/
dist/

log/
pretrained/
datasets/
log
pretrained
datasets

tags
cscope*
.ycm_extra_conf.py
.subvimrc
.vscode
*.pkl
*.avi
*.mp4
*.zip
/tmp/

gitu.bat
gitu.sh

*.sublime-project
*.sublime-workspace
*.code-workspace