tensorflow==2.14
ml-collections
matplotlib
tensorflow-datasets
tensorflow-addons
tensorflow-text
tensorflow_gan
pycocotools
scikit-image
einops
json5
netifaces
pandas
paramparse
opencv-python
compress_json
scikit-learn
scikit-video
tabulate
